html {
    height: 100%;
}

body {
    padding-top: 150px;
    font-family: lato;
    height: 100%;
}

.current-goal-div {
    max-width: 700px;
}

.patient-goals-list {
    max-width: 550px;
}

.alert-light {
    background-color: #f9fafb;
    color: #737373;
}

.text-muted {
    color: #737373 !important;
}

.home-img {
    background-color: #f3f5f7;
    margin-top: -72px;
    padding-top: 72px;
    text-align: center;
}

.carousel {
    max-width: 650px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.25);
}

.get-started {
    height: 450px;
}



.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.tagline {
    font-size: 1.2rem;
    max-width: 85%;
    margin: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    min-width: 220px;
    padding-top: .5rem;
    padding-right: 20px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #ef7f33;
}

.sidebar-heading {
    font-size: 1.3rem;
}

.bg-dark {
    background-color: #1a3c34 !important;
}

.bg-light {
    background-color: #f3f5f7 !important;
}

.navbar {
    padding: .6rem 1.5rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    margin-top: 5px;
    margin-bottom: 5px;
}

.patient-search {
    width: 100%;
}

.new-post-form {
    max-width: 700px;
}

.account-edit-page {
    max-width: 700px;
}

.rd-reg-page {
    max-width: 900px;
    margin-bottom: 80px;
}

.pt-reg-page {
    max-width: 750px;
}

.post-instruct {
    max-width: 550px;
}

.editable-post-form label {
    font-size: .9rem;
}

.bold {
    font-weight: 700;
}

.editable-post-form .form-control {
    font-size: .9rem;
}

.custom-file {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.goal-container {
    background-color: #f3f5f7;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.goal-content {
    padding: 10px;
}

.post-container {
    background-color: #f3f5f7;
    margin-bottom: 20px;
    max-width: 500px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.post-author {
    font-weight: 800;
    padding-top: 10px;
}

.post-time {
    font-size: .8rem;
    margin-bottom: 0px;
}

.post-image {
    width: 100%;
}

.post-content {
    padding: 10px;
}

.post-fields p {
    font-size: .9rem;
}

.hidden {
    display: none;
}

.border-top {
    padding-top: 10px;
    padding-bottom: : 10px;
}

.comment-time {
    font-size: .8rem;
    padding-left: 10px;
    margin-bottom: 16px;
}

.comment-body {
    font-size: .85rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

a {
    color: #ef7f33;
}

a:hover {
    color: #c66c06;
}

.sidebar-sticky .border-bottom {
    padding-bottom: 5px;
}

.fas {
    padding: 5px;
}

.btn-link {
    font-size: .8rem;
    display: inline;
    padding-left: 5px;
    padding-right: 0;
    color: #ef7f33;
    margin-top: -2px;
}

.btn-link:hover {
    color: #c66c06;
}

.comment-box {
    font-size: .85rem;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 0px;
}

.btn-primary {
    background: #ef7f33;
    border-color: #ef7f33;
}

.btn-primary:hover {
    background: #c66c06;
    border-color: #c66c06;
}

.btn-primary:focus {
    background-color: #ef7f33 !important;
    border-color: #ef7f33 !important;
    box-shadow: none !important;
}

.btn-primary:active {
    background-color: #ef7f33 !important;
    border-color: #ef7f33!important;
    box-shadow: none !important;
}

.btn-primary:disabled {
    background-color: #c66c06 !important;
    border-color: #c66c06!important;
    box-shadow: none !important;
}

.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:active {
    box-shadow: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #f3f5f7 !important;
}

.dropdown-item:focus {
    background-color: #f3f5f7 !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    color: #ef7f33;
    border-color: #ef7f33;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ef7f33;
    border-color: #ef7f33
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #ef7f33 !important;
  border-color: #ef7f33 !important;
  box-shadow: none !important;
}

.btn-outline-primary:active {
  color: #fff;
  background-color: #ef7f33 !important;
  border-color: #ef7f33 !important;
  box-shadow: none !important;
}

.active {
    background-color: #ef7f33 !important;
    border-color: #ef7f33 !important;
}

.edit-comment-div {
    margin-top: 5px;
}

.btn-edit-cmt {
    padding: 0 0 0 10px;
    margin-bottom: 16px;
}

.user-dashboard-tag {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: .05em;
}

.post-edit-btns {
    float: right;
}

.ratings-chart {
    max-width: 800px;
    max-height: 500px;
    margin-top: 20px;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, 
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c6cdd2;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #c6cdd2;
}

.custom-select:focus {
    box-shadow: none;
    border-color: #c6cdd2;
}

.modal-body {
    margin-bottom: -20px;
}

.close {
    margin-right: 7px;
}

.chart-date-form {
    margin-top: -10px;
    max-width: 475px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.pt-btn {
    width: 140px !important;
}

.tooltip {
    font-family: lato;
}

textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

#add-goal-form {
    max-width: 400px;
}



