body {
    padding-top: 150px;
    font-family: roboto;
    padding-bottom: 75px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    min-width: 220px;
    padding-top: .5rem;
    padding-right: 20px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #e87e07;
}

.sidebar-heading {
    font-size: 1.3rem;
}

.bg-dark {
    background-color: #54775e !important;
}

.bg-light {
    background-color: #f3f5f7 !important;
}

.navbar {
    padding: .6rem 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    margin-top: 5px;
    margin-bottom: 5px;
}

.patient-search {
    width: 100%;
}

.post-container {
    background-color: #f3f5f7;
    margin-bottom: 20px;
    max-width: 500px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.post-author {
    font-weight: 800;
    padding-top: 10px;
}

.post-time {
    font-size: .8rem;
    margin-bottom: 0px;
}

.post-image {
    width: 100%;
}

.post-content {
    padding: 10px;
}

.post-fields p {
    font-size: .9rem;
}

.hidden {
    display: none;
}

.border-top {
    padding-top: 10px;
    padding-bottom: : 10px;
}

.comment-time {
    font-size: .8rem;
    padding-left: 10px;
    margin-bottom: 16px;
}

.comment-body {
    font-size: .85rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

a {
    color: #e87e07;
}

a:hover {
    color: #c66c06;
}

.sidebar-sticky .border-bottom {
    padding-bottom: 5px;
}

.fas {
    padding: 5px;
}

.btn-link {
    font-size: .8rem;
    display: inline;
    padding-left: 5px;
    padding-right: 0;
    color: #e87e07;
    margin-top: -2px;
}

.btn-link:hover {
    color: #c66c06;
}

.comment-box {
    font-size: .85rem;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    resize: none;
}

.btn-primary {
    background: #e87e07;
    border-color: #e87e07;
}

.btn-primary:hover {
    background: #c66c06;
    border-color: #c66c06;
}

.btn-primary:focus {
    background-color: #c66c06 !important;
    border-color: #c66c06 !important;
    box-shadow: none !important;
}

.btn-primary:active {
    background-color: #c66c06 !important;
    border-color: #c66c06 !important;
    box-shadow: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #f3f5f7 !important;
}

.dropdown-item:focus {
    background-color: #f3f5f7 !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    color: #e87e07;
    border-color: #e87e07;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #e87e07;
    border-color: #e87e07
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #e87e07 !important;
  border-color: #e87e07 !important;
  box-shadow: none !important;
}

.btn-outline-primary:active {
  color: #fff;
  background-color: #e87e07 !important;
  border-color: #e87e07 !important;
  box-shadow: none !important;
}

.edit-comment-div {
    margin-top: 5px;
}

.btn-edit-cmt {
    padding: 0 0 0 10px;
    margin-bottom: 16px;
}

.user-dashboard-tag {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 800;
    letter-spacing: .05em;
}

.post-edit-btns {
    float: right;
}

#ratings-chart {
    max-width: 800px;
    max-height: 500px;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, 
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c6cdd2;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #c6cdd2;
}





