<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Nourish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="image" property="og:image" content="https://getnourish.co/static/images/screenshot.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="/static/js/patient-search.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/static/images/nourish-logo.png" width="180">
      </a>
      {% if session.get("patient_id") or session.get("dietitian_id") %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="d-md-none nav-item">
              {% if session.get("patient_id") %}
                <a class="nav-link" href="/patient/{{ patient.patient_id }}">
                  Dashboard Home
                </a>
              </li>
              <li class="d-md-none nav-item">
                <a class="nav-link" href="/patient/{{ patient.patient_id }}/goals">
                  View All Goals
                </a>
              </li>
              <li class="d-md-none nav-item">
                <a class="nav-link" href="/patient/{{ patient.patient_id }}/posts">
                  View All Posts
                </a>
              </li>
              <li class="d-md-none nav-item">
                <button type="button" class="btn nav-link ratings-chart-btn mb-2 hidden" 
                      data-patient-id="{{ patient.patient_id }}">
                  Ratings Chart
                </button>
              </li>
            {% endif %}
            {% if session.get("dietitian_id") %}
              <li class="d-md-none nav-item">
                <a class="nav-link" href="/dietitian/{{ session.get('dietitian_id') }}">
                  All Patient Posts
                </a>
              </li>
              <li class="d-md-none nav-item">
                <a class="nav-link" href="/patient/new-patient">
                  Register a New Patient
                </a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> Profile
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                {% if session.get("patient_id") %}
                  <a class="dropdown-item" href="/patient/{{ session.get('patient_id') }}/account">My account</a>
                {% endif %}
                {% if session.get("dietitian_id") %}
                  <a class="dropdown-item" href="/dietitian/{{ session.get('dietitian_id') }}/account">My account</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      {% endif %}
    </nav>
    <div id="content" class="h-100">
        {% block content %}
            <div id="flash-messages">
                {% block flash %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-light alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>