<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} | Nourish</title>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <nav>
        <div>
            {% if session.get("patient_id") %}
                <p>
                    <a href="/patient/{{ session.get('patient_id') }}/account">
                    Account</a>
                <p><a href="/logout">Sign out</a></p>
            {% endif %}
            {% if session.get("dietitian_id") %}
                <p>
                    <a href="/dietitian/{{ session.get('dietitian_id') }}/account">
                    Account</a>
                <p><a href="/logout">Sign out</a></p>
            {% endif %}
        </div>
    </nav>
    <div id="content">
        {% block content %}
            <div id="flash-messages">
                {% block flash %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <p>{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>