<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} | Nourish</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
            <div id="flash-messages">
                {% block flash %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                          <p>{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>