{% extends "dietitian-single-patient-base.html" %}

{% block patient_content %}
    <div>
        <h3>Add a new goal for {{ patient.fname }} {{ patient.lname }}:</h3>
        <form action="/patient/{{ patient.patient_id }}/add-goal" method="POST">
            <textarea name="goal-body" required rows="4" cols="48"></textarea>
            <input type="submit" value="Add New Goal">
        </form>
        {% if not current_goal %}
            <p>
                {{ patient.fname }} {{ patient.lname }} has no goals yet.
                Add a goal to see it here.
            </p>
        {% endif %}
        {% if current_goal %}
            <h3>Current Goal</h3>
                <div id="goal-{{ current_goal.goal_id }}">
                    {% if not current_goal.last_mod_date %}
                        <p>{{ current_goal.time_stamp|datetime }}</p>
                    {% endif %}
                    {% if current_goal.last_mod_date %}
                        <p>{{ current_goal.last_mod_date|datetime }} (edited)</p>
                    {% endif %}
                    <p>{{ current_goal.goal_body }}</p>
                    <button class="edit-goal-btn" data-goal-id="{{ current_goal.goal_id }}">Edit</button>
                    <button class="delete-goal-btn" data-goal-id="{{ current_goal.goal_id }}">Delete</button>
                </div>
                <div id="editable-goal-{{ current_goal.goal_id }}" hidden>
                    <form action="/patient/{{ patient.patient_id }}/edit/{{ current_goal.goal_id }}" method="POST">
                        <textarea name="goal-body" required rows="4" cols="48">{{ current_goal.goal_body }}</textarea>
                        <div>
                            <button class="cancel-edit-btn" data-goal-id="{{ current_goal.goal_id }}">Cancel</button>
                            <button type="submit">Update Goal</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% if past_goals %}
            <h3>Past Goals</h3>
            {% for goal in past_goals %}
                <div id="goal-{{ goal.goal_id }}">
                    {% if not current_goal.last_mod_date %}
                        <p>{{ current_goal.time_stamp|datetime }}</p>
                    {% endif %}
                    {% if current_goal.last_mod_date %}
                        <p>{{ current_goal.last_mod_date|datetime }} (edited)</p>
                    {% endif %}
                    <p>{{ goal.goal_body }}</p>
                    <button class="delete-goal-btn" data-goal-id="{{ goal.goal_id }}">Delete</button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/dietitian-home-patient-goals.js"></script>
{% endblock %}