{% extends "base.html" %}
{% block title %}Dietitian Registration{% endblock %}
{% block content %}
    <div>
        <h1>
            Dietitian Registration
        </h1>
        <h2>
            Are you a dietitian new to Nourish? Register below to start using
            Nourish with your patients!
        </h2>
    </div>
    <div>
        {% block flash %} {{ super() }} {% endblock %}
    </div>
    <div>
        <h3>Complete the form to register:</h3>
        <form action="/register" method="POST">
            <input type="text" required name="fname" maxlength="50" placeholder="First name">
            <input type="text" required name="lname" maxlength="50" placeholder="Last name">
            <input type="email" required name="email" maxlength="120" placeholder="Email address">
            <input type="password" required minlength="6" maxlength="20" name="password" placeholder="Password">
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 6-20 characters long.
            </small>
            <input type="text" required maxlength="100" name="street-address" placeholder="Street address">
            <input type="text" required name="city" maxlength="40" placeholder="City">
            <input type="text" required name="state" maxlength="2" placeholder="State abbreviation">
            <input type="text" required name="zipcode" maxlength="11" placeholder="Zipcode">
            <input type="submit" value="Register Now">
        </form>
        <a href="/">Cancel</a>
    </div>
{% endblock %}