{% extends "dietitian-single-patient-base.html" %}
{% block patient_content %}
    <div>
        {% if not posts %}
            <p>No posts to display.</p>
        {% endif %}

        {% if posts %}
            {% for post in posts %}
                <p>{{ post.patient.fname }} {{ post.patient.lname }}</p>
                {% if not post.last_mod_date %}
                    <p>{{ post.post_time|datetime }}</p>
                {% endif %}
                {% if post.last_mod_date %}
                    <p>{{ post.last_mod_date|datetime }} (edited)</p>
                {% endif %}
                {% if post.img_path %}
                    <img src="{{post.img_path}}" width="400">
                {% endif %}
                <p>Meal time: {{ post.meal_time|datetime }}</p>
                <p>Setting: {{ post.meal_setting }}</p>
                {% if post.TEB %}
                    <p>Thoughts, emotions, behaviors: {{ post.TEB }}</p>
                {% endif %}
                {% if post.hunger %}
                    <p>Hunger: {{ post.hunger }}</p>
                {% endif %}
                {% if post.fullness %}
                    <p>Fullness: {{ post.fullness }}</p>
                {% endif %}
                {% if post.satisfaction %}
                    <p>Satisfaction: {{ post.satisfaction }}</p>
                {% endif %}
                {% if post.meal_notes %}
                    <p>Additional Notes: {{ post.meal_notes }}</p>
                {% endif %}
                <div>
                    <form action="/post/{{ post.post_id }}/add-comment" method="POST">
                        <input type="hidden" name="current-page" value="patient">
                        <textarea required name="comment" placeholder="Write a comment..."></textarea>
                        <input type="submit" value="Add Comment">
                    </form>
                    {% if post.comments %}
                        <h4>Comments</h4>
                        {% for comment in post.comments %}
                            <div id="comment-{{ comment.comment_id }}">
                                <p>{{ dietitian.fname }} {{ dietitian.lname }} | 
                                {% if not comment.last_mod_date %}
                                    {{ comment.time_stamp|datetime }}</p>
                                {% endif %}
                                {% if comment.last_mod_date %}
                                    {{ comment.last_mod_date|datetime }} (edited)</p>
                                {% endif %}
                                <p>{{ comment.comment_body }}</p>
                                <button class="edit-comment-btn" data-comment-id="{{ comment.comment_id }}">Edit</button>
                                <button class="delete-comment-btn" data-comment-id="{{ comment.comment_id }}">Delete</button>
                            </div>
                            <div id="editable-comment-{{ comment.comment_id }}" hidden>
                            <form action="/comment/{{ comment.comment_id }}/edit" method="POST">
                                <input type="hidden" name="current-page" value="patient">
                                <input type="hidden" name="patient-id" value={{ post.patient.patient_id }}>
                                <textarea id="comment-body-{{ comment.comment_id }}" required name="comment" placeholder="Write a comment...">{{ comment.comment_body }}</textarea>
                                <button class="cancel-edit-btn" data-comment-id="{{ comment.comment_id }}">Cancel</button>
                                <button id="save-edit-btn" type="submit">Update Comment</button>
                            </form>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/dietitian-home-posts.js"></script>
{% endblock %}