{% extends "dietitian-base.html" %}
{% block dashboard_content %}
<div class="mb-4">
  <h4>Account Details</h4>
  <a href="/dietitian/{{ dietitian.dietitian_id }}/account/edit" class="mr-3">
    Edit Account
  </a>
  <a href="/dietitian/{{ dietitian.dietitian_id }}/account/reset-password">
    Reset Password
  </a>
</div>
<ul>
  <li><b>First name:</b> {{ dietitian.fname }}</li>
  <li><b>Last name:</b> {{ dietitian.lname }}</li>
  <li><b>Email:</b> {{ dietitian.email }}</li>
  <li><b>Address:</b> {{ dietitian.street_address }}</li>
  <li><b>City:</b> {{ dietitian.city }}</li>
  <li><b>State:</b> {{ dietitian.state }}</li>
  <li><b>Zipcode:</b> {{ dietitian.zipcode }}</li>
</ul>
{% endblock %}