{% extends "base.html" %}
{% block title %}Dietitian Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/patient-search.js"></script>
{% endblock %}
{% block content %}
    <div id="sidebar">
        <p>
            <a href="/dietitian/{{ dietitian.dietitian_id }}">
            All Patient Posts</a>
        </p>
        <p>
            <a href="/patient/new-patient">
            Register a New Patient</a>
        </p>
        <h2>All Patients</h2>
            <select id="patient" class="patient-search" style="width: 15%">
                {% for patient in patients %}
                    <option value ="/patient/{{ patient.patient_id }}">
                    {{ patient.fname }} {{ patient.lname }}</option>
                {% endfor %}
            </select>
        {% if not patients %}
            <p>No patients to display.</p>
        {% endif %}
    </div>
    <h1>{{ dietitian.fname }} {{ dietitian.lname }}</h1>
    <div>
        {% block flash %} {{ super() }} {% endblock %}
    </div>
    <div>{% block dashboard_content %}{% endblock %}</div>
{% endblock %}

    
