{% extends "dietitian-base.html" %}
{% block dashboard_content %}
  {% include "posts.html" %}
  {% if posts.pages > 1 %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, 
      left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-primary mb-4" 
             href="{{ url_for('show_dietitian_homepage', 
             dietitian_id= dietitian.dietitian_id, page=page_num, date=date) }}">
            {{ page_num }}
          </a>
          {% else %}
          <a class="btn btn-outline-primary mb-4" 
             href="{{ url_for('show_dietitian_homepage', 
             dietitian_id= dietitian.dietitian_id, page=page_num, date=date) }}">
            {{ page_num }}
          </a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
{% block script %}
  <script src="/static/js/comments.js"></script>
{% endblock %}