{% extends "patient-home-sidebar.html" %}
{% block sidebar %}
    <p>
        <a href="/patient/{{ patient.patient_id }}">
        &lt;&lt; Back to your main page</a>
    </p>
    <p><a href="/patient/{{ patient.patient_id }}/goals">
        Past Goals</a>
    </p>
    <p><a href="/patient/{{ patient.patient_id }}/posts">
        Past Posts</a>
    </p>
{% endblock %}
{% block dashboard_content %}
    <div>
        <h2>Edit Post</h2>
        <form action="/patient/{{ patient.patient_id }}/edit/{{ post.post_id }}" method="POST">
                <p>
                    <label for="datetime">
                        <span>Time of meal/snack*: </span>
                        <input type="datetime-local" required name="meal-time" value={{ meal_time }}>
                    </label>
                </p>
                <p>
                    <label for="meal-setting">
                        <span>Where did you eat and with whom?* </span>
                        <textarea name="meal-setting" required>{{ post.meal_setting }}</textarea>
                    </label>
                </p>
                <p>
                    <label for="TEB">
                        <span>What thoughts, emotions, and/or behaviors did you notice?* </span>
                        <textarea name="TEB" required>{{ post.TEB }}</textarea>
                    </label>
                </p>
                <p>
                    <label for="hunger">
                        <span>Hunger rating: </span>
                        <input type="number" name="hunger" min="0" max="10" step="1" value="{{ post.hunger }}">
                    </label>
                </p>
                <p>
                    <label for="fullness">
                        <span>Fullness rating: </span>
                        <input type="number" name="fullness" min="0" max="10" step="1" value="{{ post.fullness }}">
                    </label>
                </p>
                <p>
                    <label for="satisfaction">
                        <span>Satisfaction rating: </span>
                        <input type="number" name="satisfaction" min="0" max="10" step="1" value="{{ post.satisfaction }}">
                    </label>
                <p>
                    <label for="meal-notes">
                        <span>Anything else you'd like to share: </span>
                        <textarea name="meal-notes">{% if post.meal_notes %}{{ post.meal_notes }}{% endif %}</textarea>
                    </label>
                </p>
                <p><button type="submit">Save Changes</button></p>
            </form>
    </div>
{% endblock %}