{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <h1>
            Nourish Tagline
        </h1>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </h2>
        <img src="">
    </div>
    <div>
        <div>
            {% block flash %} {{ super() }} {% endblock %}
        </div>
        <h3>What type of user are you?</h3>
        <button id="patient-login-btn">Patient</button>
        <button id="dietitian-login-btn">Dietitian</button>
        <div id="patient-login" hidden>
            <form action="/patient-login" method="POST">
                <input type="email" required name="email" placeholder="Email address">
                <input type="password" required name="password" placeholder="Password">
                <input type="submit" value="Log In">
            </form>
        </div>
        <div id="dietitian-login" hidden>
            <form action="/dietitian-login" method="POST">
                <input type="email" required name="email" placeholder="Email address">
                <input type="password" required name="password" placeholder="Password">
                <input type="submit" value="Log In">
            </form>
            <a href="/register">Create a Dietitian Account</a>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/homepage.js"></script>
{% endblock %}