{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <h1>
            Nourish Tagline
        </h1>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </h2>
        <img src="">
    </div>
    <div>
        <div>
            {% block flash %} {{ super() }} {% endblock %}
        </div>
        <h3>Sign In:</h3>
        <form action="/" method="POST">
            <input type="email" required name="email" placeholder="Email address">
            <input type="password" required name="password" placeholder="Password">
            
            <label for="user-type">I'm a: </label>
            <input type="radio" required name="user-type" value="patient">
            <label>patient</label>
            <input type="radio" required name="user-type" value="dietitian">
            <label>dietitian</label>
            
            <input type="submit" value="Log In">
        </form>
     <a href="/register">Create a new dietitian account</a>
    </div>
{% endblock %}