{% extends "patient-base.html" %}
{% block dashboard_content %}
    <div>
        <h2>Goals</h2>
        {% if not goals %}
            <p>
                Your dietitian hasn't created any goals yet.
            </p>
        {% endif %}
        {% if goals %}
            {% for goal in goals %}
                {% if not goal.last_mod_date %}
                    <p>{{ goal.time_stamp|datetime }}</p>
                {% endif %}
                {% if goal.last_mod_date %}
                    <p>{{ goal.last_mod_date|datetime }} (edited)</p>
                {% endif %}
                <p>{{ goal.goal_body }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}