{% extends "patient-base.html" %}
{% block dashboard_content %}
    <div>
        <h3>Account Information</h3>
        <a href="/patient/{{ patient.patient_id }}/edit">Edit</a>
        <a href="/patient/{{ patient.patient_id }}/reset-password">Reset Password</a>
        <ul>
            <li>First name: {{ patient.fname }}</li>
            <li>Last name: {{ patient.lname }}</li>
            <li>Email: {{ patient.email }}</li>
            <li>Address: {{ patient.street_address }}</li>
            <li>City: {{ patient.city }}</li>
            <li>State: {{ patient.state }}</li>
            <li>Zipcode: {{ patient.zipcode }}</li>
            <li>Phone number: {{ patient.phone }}</li>
            <li>Birthdate: {{ patient.birthdate|date }}</li>
        </ul>
    </div>
{% endblock %}