{% extends "patient-base.html" %}
{% block dashboard_content %}
    <div>
        <h2>Goals</h2>
        {% if not goals %}
            <p>
                Your dietitian hasn't created any goals yet.
            </p>
        {% endif %}
        {% if goals %}
            {% for goal in goals %}
                <p>{{ goal.time_stamp|datetime }} {% if goal.edited %}(edited){% endif %}</p>
                <p>{{ goal.goal_body }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}