{% extends "base.html" %}
{% block title %}Patient Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <p>
        <a href="/patient/{{ patient.patient_id }}">
            Main Page</a>
        </p>
        <p><a href="/patient/{{ patient.patient_id }}/goals">
            Goals</a>
        </p>
            <p><a href="/patient/{{ patient.patient_id }}/posts">
            Posts</a>
        </p>
    </div>
    <h1>{{ patient.fname }} {{ patient.lname }}</h1>
    <div>
        {% block flash %} {{ super() }} {% endblock %}
    </div>
    <div>{% block dashboard_content %}{% endblock %}</div>
{% endblock %}