{% extends "patient-home-sidebar.html" %}

{% block dashboard_content %}
    <div>
        {% if not posts %}
            <p>
                You haven't created any posts yet.
            </p>
            <p>
                <a href="/patient/{{ patient.patient_id }}">
                Click here to add your first post.</a>
            </p>
        {% endif %}

        {% if posts %}
            {% for post in posts %}
                <p>{{ patient.fname }} {{ patient.lname }}</p>
                <p>{{ post.post_time|datetime }}</p>
                {% if post.img_path %}
                    <img src="{{ post.img_path }}" width="400">
                {% endif %}
                <p>Meal time: {{ post.meal_time|datetime }}</p>
                <p>Setting: {{ post.meal_setting }}</p>
                {% if post.TEB %}
                    <p>Thoughts, emotions, behaviors: {{ post.TEB }}</p>
                {% endif %}
                {% if post.hunger %}
                    <p>Hunger: {{ post.hunger }}</p>
                {% endif %}
                {% if post.fullness %}
                    <p>Fullness: {{ post.fullness }}</p>
                {% endif %}
                {% if post.satisfaction %}
                    <p>Satisfaction: {{ post.satisfaction }}</p>
                {% endif %}
                {% if post.meal_notes %}
                    <p>Additional Notes: {{ post.hunger }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}