<div>
{% if not posts %}
  <p>No posts to display.</p>
  {% if session.get("patient_id") %}
    <p>
      <a href="/patient/{{ patient.patient_id }}">
        Click here to add your first post.
      </a>
    </p>
  {% endif %}
{% endif %}

{% if posts %}
  {% for post in posts.items %}
    <div id="post-{{ post.post_id }}">
      <div class="post-container">
        <div class="post-content">
          <a href="/patient/{{ post.patient.patient_id }}/account" 
             class="post-author">
            {{ post.patient.fname }} {{ post.patient.lname }}
          </a>
          {% if session.get("patient_id") %}
            <div class="post-edit-btns">
              <button class="edit-post-btn btn btn-link" 
                      data-post-id="{{ post.post_id }}">
                Edit Post
              </button>
              <button class="delete-post-btn btn btn-link" 
                      data-post-id="{{ post.post_id }}">
                Delete
              </button>
            </div>
          {% endif %}
          <p class="post-time">
            {{ post.time_stamp|datetime }} 
            {% if post.edited %}(edited){% endif %}
          </p>
        </div>
        {% if post.img_path %}
          <img src="{{post.img_path}}" class="post-image">
        {% endif %}
        <div class="post-content">
          <div class="post-fields">
            <p><b>Meal Time:</b> {{ post.meal_time|datetime }}</p>
            <p><b>Setting:</b> {{ post.meal_setting }}</p>
            <p><b>Thoughts, Emotions, Behaviors:</b> {{ post.TEB }}</p>
            {% if post.hunger %}
              <p><b>Hunger:</b> {{ post.hunger }}</p>
            {% endif %}
            {% if post.fullness %}
              <p><b>Fullness:</b> {{ post.fullness }}</p>
            {% endif %}
            {% if post.satisfaction %}
              <p><b>Satisfaction:</b> {{ post.satisfaction }}</p>
            {% endif %}
            {% if post.meal_notes %}
              <p><b>Additional Notes:</b> {{ post.meal_notes }}</p>
            {% endif %}
          </div>
          <div id="comments-for-{{ post.post_id }}">
            <div class="border-top">
            </div>
            {% if post.comments %}
              {% for comment in post.comments|sort(attribute="time_stamp") %}
                <div id="comment-and-edit-form-{{ comment.comment_id }}">
                  <div id="comment-{{ comment.comment_id }}">
                    <p class="comment-body">
                      <b>{% if comment.author_type == "diet" %}
                        {{ dietitian.fname }} {{ dietitian.lname }}:
                      {% endif %}
                      {% if comment.author_type == "pat" %}
                        {{ post.patient.fname }} {{ post.patient.lname }}:
                      {% endif %}</b>
                      {{ comment.comment_body }}
                    </p>
                    <p class="comment-time">
                      {{ comment.time_stamp|datetime }} {% if comment.edited %}(edited){% endif %}
                      {% if (session.get("dietitian_id") and comment.author_type == "diet")
                         or (session.get("patient_id") and comment.author_type == "pat") %}
                        <button class="edit-comment-btn btn btn-link" 
                                data-comment-id="{{ comment.comment_id }}">
                          Edit
                        </button>
                        <button class="delete-comment-btn btn btn-link" 
                                data-comment-id="{{ comment.comment_id }}">
                          Delete
                        </button>
                      {% endif %}
                    </p>
                  </div>
                  {% if (session.get("dietitian_id") and comment.author_type == "diet")
                   or (session.get("patient_id") and comment.author_type == "pat") %}
                    <div class="hidden edit-comment-div" 
                         id="editable-comment-{{ comment.comment_id }}">
                      <form class="edit-comment-form" 
                            id="edit-comment-form-{{ comment.comment_id }}" 
                            data-comment-id="{{ comment.comment_id }}">
                        <textarea required class="comment-box" name="comment">{{ comment.comment_body }}</textarea>
                        <button class="cancel-edit-btn btn btn-edit-cmt btn-link" 
                                data-comment-id="{{ comment.comment_id }}">
                          Cancel
                        </button>
                        <button class="btn btn-edit-cmt btn-link" type="submit">
                          Save Changes
                        </button>
                      </form>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <form class="add-comment-form" id="add-comment-form-{{ post.post_id }}" 
                data-post-id="{{ post.post_id }}" method="POST">
            <textarea class="comment-box" required name="comment" 
                      placeholder="Write a comment..."></textarea>
            <button type="submit" class="btn btn-outline-primary btn-sm btn-block">
              Submit Comment
            </button>
          </form>
        </div>
      </div>
    </div>
    {% if session.get("patient_id") %}
      <div id="editable-post-{{ post.post_id }}" class="hidden editable-post-form">
        <div class="post-container">
          <div class="post-content">
            <a href="/patient/{{ post.patient.patient_id }}/account" 
               class="post-author">
              {{ post.patient.fname }} {{ post.patient.lname }}
            </a>
            <p class="post-time">
              {{ post.time_stamp|datetime }} {% if post.edited %}(edited){% endif %}
            </p>
          </div>
          <form action="/post/edit/{{ post.post_id }}" method="POST" 
                class="edit-post-form" id="edit-post-form-{{ post.post_id }}" 
                enctype="multipart/form-data" data-post-id="{{ post.post_id }}">
            {% if post.img_path %}
              <img src="{{post.img_path}}" class="post-image">
            {% endif %}
            <div class="post-content">
              <div>
                <label class="w-100 bold">Update Image:
                  <div class="custom-file">
                    <input type="file" name="meal-image" class="custom-file-input" 
                           accept="image/png, image/jpeg, image/jpg" id="custom-file">
                    <label class="custom-file-label" for="custom-file">
                      Choose file
                    </label>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <label for="meal-time-input" class="bold">Meal Time:</label>
                <input type="datetime-local" required name="meal-time" 
                       id="meal-time-input" class="form-control" 
                       value="{{ post.meal_time|htmldatetime }}">
              </div>
              <div class="form-group">
                <label for="meal-setting-input" class="bold">
                  Meal Setting:
                </label>
                <input type="text" name="meal-setting" required 
                       id="meal-setting-input" class="form-control" 
                       maxlength="200" value="{{ post.meal_setting }}">
              </div>
              <div class="form-group">
                <label for="TEB-input" class="bold">
                  Thoughts, Emotions, Behaviors:
                </label>
                <textarea id="TEB-input" class="form-control" name="TEB" required>{{ post.TEB }}</textarea>
              </div>
              <div class="form-row">
                {% if patient.hunger_visible %}
                <div class="form-group col-md-4">
                  <label for="hunger-input" class="bold">Hunger:</label>
                  <input type="number" id="hunger-input" class="form-control" 
                         name="hunger" min="0" max="10" step="1" 
                         {% if post.hunger %} value={{ post.hunger }} {% endif %}>
                </div>
                {% endif %}
                {% if patient.fullness_visible %}
                <div class="form-group col-md-4">
                  <label for="fullness-input" class="bold">Fullness:</label>
                  <input type="number" id="fullness-input" class="form-control" 
                         name="fullness" min="0" max="10" step="1" 
                         {% if post.fullness %} value={{ post.fullness }} {% endif %}>
                </div>
                {% endif %}
                {% if patient.satisfaction_visible %}
                <div class="form-group col-md-4">
                  <label for="satisfaction-input" class="bold">
                    Satisfaction:
                  </label>
                  <input type="number" id="satisfaction-input" class="form-control" 
                    name="satisfaction" min="0" max="10" step="1" {% if post.satisfaction %} 
                    value={{ post.satisfaction }} {% endif %}>
                </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="meal-notes-input" class="bold">
                  Additional Notes:
                </label>
                <input type="text" name="meal-notes" id="meal-notes-input" 
                       class="form-control" {% if post.meal_notes %} 
                       value={{ post.meal_notes }} {% endif %}>
              </div>
              <button class="cancel-edit-btn btn btn-outline-primary btn-sm btn-block" 
                      data-post-id="{{ post.post_id }}">Cancel</button>
              <button type="submit" class="btn btn-primary btn-sm btn-block">
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
</div>